.header {
	background-color: blue;
	color: rgb(255, 255, 255);
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.buttonHeader {
	color: rgb(255, 255, 255);
	padding: 0;
	text-decoration: none;
	border: none;
	background: none;
	margin: 10px;
}

.buttonContainer :hover {
	cursor: pointer;
}

.buttonContainer {
	display: flex;
	justify-content: space-between;
}
